{% extends "index.html" %}
{% block title %}Lista de productos{% endblock %}

{% block content %}
    
    <h2 class="p-2">Lista de Proveedores</h2>
    
    <a class=" p-2" href="{% url 'proveedores_crear' %}">Agregar nuevo proveedor</a>
    <table class="table mt-3">
        <thead>
            <tr>
                <th class="table-primary" scope="col">Proveedor</th>
                <th class="table-primary" scope="col">DNI</th>
            </tr>   
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
                
                <tr key={{proveedor.dni}}>
                    <td class="table-light">{{proveedor.nombre}} {{proveedor.apellido}}</td>
                    <td class="table-light">{{proveedor.dni}}</td>
                </tr>
                
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="d-flex justify-content-between">
        <a href="{% url 'productos_listado' %}">Lista de Productos</a>
    </div>
    

{% endblock %}